doctype html
html( style="height: 100%" )
  head
    title ANT Max Flow
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    meta( name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width" )
  
    link( rel="stylesheet" type="text/css" href="resources/libraries/bowerStyles.css" )
    link( rel="stylesheet" type="text/css" href="resources/libraries/theme.css" )
    link( rel="stylesheet" type="text/css" href="resources/libraries/compiled.css" )
    
    script( type="text/javascript" src="resources/libraries/bowerScripts.js" )
    script( src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" )
    script( type="text/javascript" src="resources/libraries/packaged.js" )
  
  body( style="height: 100%" )
    .container
      .row
        .col-xs-12
          h1 
            | Max Flow 
            small Ant Colony Optimization
  
    //-- Page Content
    .container( style="height: 95%" )
      .row
        .col-xs-12.col-sm-4.col-md-3.col-lg-2.form-group
          button.btn.btn-sm.btn-primary.btn-block( data-toggle="collapse" data-target="#bs-collapse-2" )#settingsButton
            | #[span.glyphicon.glyphicon-chevron-down( data-bind="visible: !showSettings()" )] 
            | #[span.glyphicon.glyphicon-chevron-up( data-bind="visible: showSettings" )] 
            | Toggle settings
        .col-xs-12.col-sm-4.col-md-3.col-lg-2.form-group
          button.btn.btn-sm.btn-primary.btn-block#startSearchButton
            | #[span.glyphicon.glyphicon-search] 
            | Search
        .col-xs-12.col-sm-4.col-md-3.col-lg-2.form-group
          button.btn.btn-sm.btn-primary.btn-block#graphVisibilityButton
            | #[span.glyphicon.glyphicon-stats] 
            span( data-bind="visible: showGraphs") Hide graphs
            span( data-bind="visible: !showGraphs()") Show graphs
        .col-xs-12.col-sm-4.col-md-3.col-lg-2.form-group
          button.btn.btn-sm.btn-warning.btn-block#clearResults
            | #[span.glyphicon.glyphicon-remove-circle] 
            | Clear
      
      .row
        .col-xs-12
          hr/
      
      .row.collapse#bs-collapse-2
        .col-xs-12.well
          .form
            .form-group.col-xs-12.col-sm-4.col-md-3.col-md-lg-2
              label
                | Number Of Iterations
                input.form-control(type="text" data-bind="value: settings.numberOfIterations")
            .form-group.col-xs-12.col-sm-4.col-md-3.col-md-lg-2
              label
                | Evaporation Rate
                input.form-control(type="text" data-bind="value: settings.evaporationRate")
            .form-group.col-xs-12.col-sm-4.col-md-3.col-md-lg-2
              label
                | Number Of Ants
                input.form-control(type="text" data-bind="value: settings.numberOfAnts")
            .form-group.col-xs-12.col-sm-4.col-md-3.col-md-lg-2
              label
                | Q
                input.form-control(type="text" data-bind="value: settings.Q")
            .form-group.col-xs-12.col-sm-4.col-md-3.col-md-lg-2
              label
                | Initial Pheromone
                input.form-control(type="text" data-bind="value: settings.initialPheromone")
            .form-group.col-xs-12.col-sm-4.col-md-3.col-md-lg-2
              label
                | Sleep time between drawing
                input.form-control(type="text" data-bind="value: settings.sleepTime")
      
      .row( data-bind="visible: progressValue() > 0")
        .col-xs-12
          div( data-bind="progress: { value: progressValue, text: 'completed', textHidden: false, animated: true, striped: true }" )
      
      .row( data-bind="visible: showGraphs" )
        .col-xs-12
          h4 Flow graph
          canvas(width="100%" height="200" )#flowGraphCanvas
      .row( data-bind="visible: showGraphs" )
        .col-xs-12
          h4 Cost graph
          canvas(width="100%" height="200" )#costGraphCanvas
      
      .row( style="height: 90%" )
        .col-xs-12.col-sm-3
          .row.form-group
            button.btn.btn-block.btn-sm.btn-info( data-bind="click: function(){settings.visualize(!settings.visualize());}")
              span.pull-left
                | #[span.glyphicon.glyphicon-unchecked( data-bind="visible: !settings.visualize()" )] 
                | #[span.glyphicon.glyphicon-check( data-bind="visible: settings.visualize()" )] 
                | Visualize steps
          .row
            ul.list-group
              li.list-group-item
                strong Solutions:
              li.list-group-item.disabled( data-bind="visible: solutions().length == 0" )
                | Non yet
              <!-- ko foreach: solutions -->
              li.list-group-item
                | Flow: <span data-bind="text: flow"></span>
                | Cost: <span data-bind="text: cost"></span>
              <!-- /ko -->
        .col-xs-12.col-sm-9( style="height: 95%" )
          #cy
              
      //-- end row
    //-- end container
